.box {
  display: flex;
  border-radius: 2.2rem;
  background-color: transparent;
  width: 46.5vw;
}

//.chart svg {
//   border-radius: 0.5rem;
// }

.chart canvas {
  transition: all 0.3s;

  height: 10rem;

  &:hover
  {
    height: 40rem !important;
  }
}
