.box {
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(4, 1, 129, 0.05);
  border-radius: 4rem;
  width: 98.5vw;
  text-align: center;
}

.separator {
  margin: 5px;
}

.box_graph {
  display: flex;
  background-color: white;
  margin: 0 0 1rem 1rem;
  border-radius: 2.2rem;
  padding: 1rem 0 0.4rem 1rem;
  width: 97vw;

  //transition: max-height .3s;
  //height: auto;
  //&:hover {
  //  max-height: 50rem;
  //}
}


.title_node {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 4px 0;
  display: inline-block;
  //filter: drop-shadow(0 1.2rem 0.5rem rgba(0, 0, 0, 0.2));
  border-radius: 1rem;
  padding: 1px 10px;
  background-color: rgba(0,0,0, 0.03);
}

.title_request {
  font-size: 1.4rem;
  margin: 0 5px 0 22.2rem;
  font-weight: bold;
}

.resources_block div{
  font-size: 1.3rem;
  margin: 0 2rem 0 0;
}

